<div class="container " id="home-container">
       <div class="jumbotron text-center text-dark shadow mb-5 mt-5">
       
           <h1 class="display-4 text-danger">RubyGuide</h1>
           
     
           <hr class="my-4 bt b--light-silver w-100">
                 <p class="lead" style="line-height:30px">Rails — это полноценный фреймворк. Он поставляется со всеми инструментами, необходимыми для создания потрясающих веб-приложений как на интерфейсе, так и на сервере.</p>
        <p >
Рендеринг HTML-шаблонов, обновление баз данных, отправка и получение электронных писем, поддержка живых страниц через веб-сокеты, постановка заданий в очередь для асинхронной работы, хранение загрузок в облаке, обеспечение надежной защиты от распространенных атак. Rails делает все это и даже больше.</p>
       </div>


</div>
<div class=" mt-5 mb-5 contbutlog">



    <button class="  loginbut"   type="button" >

 <%= image_tag 'fonbut.png', style: 'width:100%; border-radius:10px' %>
        <div class="circlestart shadow">
        <p>Начать!</p>
      </div>
    </button>
    <div class="bg"></div>
<br>
<div class="backgrcoll1">
 <div class="collapsecont1  shadow mt-3 mb-3" style="z-index:100000" >

  <svg xmlns="http://www.w3.org/2000/svg"   style="width:100%;height:100%" fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16">
  <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
  <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>
</svg>

    </div>
  
    <p style="z-index:100000"> <%= link_to "Регистрация", signup_path,class:"reddd", style:"z-index:100000"%></p>
    

    
</div>
   <div class="backgrcoll2">

    <div class="collapsecont2 shadow mt-3  mb-3" style="z-index:100000" >
 
<svg xmlns="http://www.w3.org/2000/svg" style="width:100%;height:100%" fill="currentColor" class="bi bi-door-open" viewBox="0 0 16 16">
  <path d="M8.5 10c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
  <path d="M10.828.122A.5.5 0 0 1 11 .5V1h.5A1.5 1.5 0 0 1 13 2.5V15h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117zM11.5 2H11v13h1V2.5a.5.5 0 0 0-.5-.5zM4 1.934V15h6V1.077l-6 .857z"/>
</svg>
    </div>
      <p> <%= link_to "Войти", login_path,class:"reddd"%></p>
</div>

<div class="backgrcoll3">
 <p> <%= link_to "Просмотр статей ", lists_path, class:"reddd"%></p>

    <div class="collapsecont3 shadow mt-3 mb-3"  >
 
<svg xmlns="http://www.w3.org/2000/svg" style="width:100%;height:100%" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
  <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
</svg>
    </div>
   
</div>


</div>
