  
 <footer id="sticky-footer" class="py-4 text-dark bt b--light-silver w-100 ">


  <div class="container text-center ">
  <br><br>  
    <small class="">Copyright &copy; <%= link_to "Egor Kursakov Все права защищены бла-бла-бла", "https://", class: "text-dark"    %></small>

      <br><br>  
  </div>
  
</footer> 

